<div class="con">
  <img src="assets/pexels-pavel-danilyuk-8112121.jpg" alt="Industrial Expertise Image" />
  <div class="text">
    <h1 class="animate-on-scroll">Over 30 Years of Unmatched Expertise</h1>
    <p class="animate-on-scroll">
      For over three decades, our association has been a trusted partner to industries, guided by exceptional leadership and specialized legal advisors. Our team comprises experts in Labour Matters, Industrial Relations, and statutory compliances.
    </p>
    <p class="animate-on-scroll">
      We are further bolstered by the invaluable guidance of Mr. M.K. Sharma, a veteran with over 40 years of industrial experience, formerly the Head of HR at esteemed companies like Xerox India, Samtel, and Surya Roshni Limited. This blend of experience ensures comprehensive and insightful solutions for our clients.
    </p>
  </div>
</div>
