<div class="labour-section">
  <div class="content-wrapper ">
    <h2>Key Labour Laws We Cover</h2>
    <p>
      Our extensive expertise covers a wide array of labour legislations,
      ensuring your business adheres to all statutory requirements.
    </p>

    <div class="law-grid ">
      <div class="law-row animate-on-scroll">
        <div class="left">Building & Construction Work Act, 1996</div>
        <div class="right">Establishment & Contractor Registration/License</div>
      </div>
      <div class="law-row animate-on-scroll">
        <div class="left">Factories Act, 1948</div>
        <div class="right">Layout Plan Approval, License, Fire NOC</div>
      </div>
      <div class="law-row animate-on-scroll">
        <div class="left">Employee State Insurance Act, 1948</div>
        <div class="right">Factory Registration (ESI Code)</div>
      </div>
      <div class="law-row animate-on-scroll">
        <div class="left">Employee Provident Fund Act, 1952</div>
        <div class="right">Factory Registration (EPF Code)</div>
      </div>
      <div class="law-row animate-on-scroll">
        <div class="left">Air & Water (Prevention & Control of Pollution) Act</div>
        <div class="right">NOC, Consent & Exemption, Hazardous Waste Authorization</div>
      </div>
      <div class="law-row animate-on-scroll">
        <div class="left">Contract Labour (Regulation & Abolition) Act, 1970</div>
        <div class="right">Establishment Registration, Contractor Licenses</div>
      </div>
      <div class="law-row animate-on-scroll">
        <div class="left">Industrial Employment (Standing Orders) Act, 1946</div>
        <div class="right">Drafting & Certification of Standing Orders</div>
      </div>
    </div>
  </div>
</div>
