<div class="partner-section">
  <div class="container">
    <div class="content">
      <h2 class="animate-on-scroll">Partner with Us for Success</h2>
      <p class="intro animate-on-scroll">
        We are dedicated to providing exceptional service and expert guidance in Industrial Relations, Human Resource Management, and Labour Laws. Your success is our priority, and we strive for excellence in every engagement.
      </p>

      <blockquote class="animate-on-scroll">
        "We are committed to delivering unparalleled expertise and support, ensuring your business thrives amidst complex labour regulations."
        <footer class="animate-on-scroll">
          <strong>Ramesh Kumar</strong><br />
          (Advocate) L.L.M. | Certified Posh Trainer | Labour Law Consultant
        </footer>
      </blockquote>

      <p class="desc animate-on-scroll">
        To discuss your specific requirements and explore how we can forge a lasting and successful partnership, we invite you to arrange a virtual or physical meeting at your convenience. A detailed quotation will be provided subsequent to our initial discussion.
      </p>

      <div class="buttons ">
        <button class="btn primary animateImg-on-scroll " (click)="openPopup()">Schedule a Meeting</button>
      
       <a style="text-decoration: none;"
    [href]="'mailto:' + email + '?subject=Consultation Request&body=Hello, I would like to inquire about your services.'"
    class="btn outline animateImg-on-scroll email-mobile"
  >
    Email Us 
  </a>

  <!-- Desktop: copy email button -->
  <button 
    (click)="copyEmail()" 
    class="btn outline animateImg-on-scroll email-desktop"
  >
    Copy Email
  </button>

  <span *ngIf="copied" style="color: lightgreen; font-size: 14px;">Email copied!</span>
      

      </div>
    </div>

    <div class="image">
      <img class="animateImg-on-scroll" src="assets/pexels-august-de-richelieu-4427430.jpg" alt="pexels-august-de-richelieu-4427430" />
    </div>
  </div>
</div>
