<div class="con" >
    <span>📞 <a  style="color: #fff; text-decoration: none;" [href]="'tel:' + adminPhone1">{{adminPhone1}}</a> 
    </span>
    <span><a style="text-decoration: none; color: #ffffff;" [href]="'mailto:' + email + '?subject=Consultation Request&body=Hello, I would like to inquire about your services.'">📧{{email}}</a></span>
    <div class="social-icons">
        <!-- <a href="#"><i class="fa-brands fa-facebook" style="color: rgb(127, 127, 235);"></i></a> -->
        <a href="https://www.linkedin.com/in/ramesh-dalal-37380a254?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"   target="_blank" 
  rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: rgb(1, 1, 150);"></i></a>
        <!-- <a href="#"><i class="fa-brands fa-twitter" style="color: rgb(41, 41, 240);"></i></a> -->
        <a href="https://www.instagram.com/advrameshdalal?utm_source=qr&igsh=YndubHE5eWQ3cGVj"   target="_blank" 
  rel="noopener noreferrer"><i class="fa-brands fa-instagram" style="color: rgb(240, 19, 229);"></i></a>
      </div>
</div>
