<div class="con">
  <h1 class="animate-on-scroll">Comprehensive Consultancy Services</h1>
  <p class="animate-on-scroll">
    We offer versatile advisory services, available on both retainership and a case-to-case basis, to meet your specific needs. Our representation spans various forums across Haryana, Delhi, and Rajasthan.
  </p>
  <div class="main">
    <img class="animateImg-on-scroll" src="assets/pexels-karolina-grabowska-7876038.jpg" alt="">
    <div class="text">
      <ul class="animate-on-scroll">
        <li class="animate-on-scroll">Industrial Tribunals</li>
        <li class="animate-on-scroll">Labour Courts</li>
        <li class="animate-on-scroll">Authority under Payment of Wages Act</li>
        <li class="animate-on-scroll">Employees Compensation Act</li>
        <li class="animate-on-scroll">Conciliation Proceedings</li>
        <li class="animate-on-scroll">Adjudication Proceedings</li>
      </ul>
      <br><br>
      <p class="animate-on-scroll">
        Our expertise ensures effective representation and advocacy to protect your interests and achieve favourable outcomes.
      </p>
    </div>
  </div>
  <button class="animate-on-scroll" (click)="goTo()">Explore Our Services</button>
</div>
