<div class="con">
    <div class="text">
        <h1 class="animate-on-scroll" style="font-size: 45px;">Ramesh Dalal  & Associates</h1>

        <h1  class="animate-on-scroll">Expert Management & Labour Law Consultants</h1>
        <br>
        <p  class="animate-on-scroll">
            Navigate the complexities of Industrial Relations, Human Resource Management, and Labour Laws with our unparalleled expertise. We offer tailored consultancy services to industries across Bahadurgarh, Rohtak, Sonipat, Panipat, Gurugram, and other key regions in India.
        </p>
        <br><br><br>
        <a class="animate-on-scroll" href="assets/Ramesh Dalal & Associates Profile.pdf"> <button class="btn">Download our Bochure </button></a>
    </div>

   
</div>
