.main {
  /* width: 100vw; */
  height: 50vh;
  background: url('/assets/pexels-karolina-grabowska-7876038.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.email {
  width: 90%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 16 / 9;
  background: url('/assets/card.png') center/contain no-repeat;
  position: relative;
  border-radius: 20px;
  z-index: 2;
  color: black;
}

.email h3 {
  position: absolute;
  background-color: #002B5C;
  padding: 2px 8px;
  font-size: 0.8rem;
  border-radius: 5px;
  z-index: 100;
  text-align: center;
  color: #ffffff;
}

/* Label positions */
.website {
  top: 18%;
  right: 32%;
  width: 80px;
}

.name {
  top: 31%;
  right: 39%;
  width: 60px;
}

.insta {
  bottom: 34.5%;
  right: 38%;
  width: 90px;
}

.em {
  bottom: 20%;
  left: 44.5%;
  width: 60px;
  cursor: pointer;
  color: blue;
}
 .email-desktop {
  display: none;
}
.msg{
    position: absolute;
    bottom: 4%;
    left: 55%;
}
.mid{
   position: absolute;
    bottom: 49%;
    left: 6%;
   
}

/* Show PC button only on screens wider than 768px (desktop) */
@media screen and (min-width: 768px) {
  .email-desktop {
    display: inline-block;
  }
  .email-mobile {
    display: none;
  }
  
}
@media screen and (max-width: 460px){
  .mid{
    left: 5%;
    font-size: 1.3rem;
  }
}


@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 2s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeSlideUp 1.5s ease-out;
}
.animateImg-on-scroll{
    opacity: 0;
    transform: scale(0);
}

.animateImg-on-scroll.visible{
     opacity: 1;
     transform: scale(1);
     animation: fadeIn 2s ease-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


